<!-- <header class="navbar bg-base-100/90 backdrop-blur-md shadow-md sticky top-0 z-50 px-6 lg:px-12">

  <nav class="hidden md:flex items-center gap-3">

    <a
      routerLink="/"
      routerLinkActive="bg-primary text-white"
      class="btn btn-ghost rounded-lg px-5 font-medium hover:bg-base-200 transition-all duration-200 cursor-pointer"
    >
      Home
    </a>

    <a
      routerLink="/products/productlist"
      routerLinkActive="bg-primary text-white"
      class="btn btn-ghost rounded-lg px-5 font-medium hover:bg-base-200 transition-all duration-200 cursor-pointer"
    >
      Products
    </a>

  </nav>

</header>-->